/* ______ CLASSES ___ SLIDESHOW ______ */

  /* Slideshow container */
  .slideshow-container { margin-top: auto; margin: auto; }

  .mySlides { float: left; display: none; height: 60%; width: 900px; }

  /* Next & previous buttons */
  .prev, .next { cursor: pointer; position: absolute; top: 800px; color: white; font-weight: bold; font-size: 28px; transition: 0.6s ease; }

  /* Position the "next button" to the right */
  .next { right: 30%; border-radius: 1% 0 0 1%; }

  /* Position the "next button" to the right */
  .prev { left: 30%; border-radius: 1% 0 0 1%; }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover { color: #F3BA8F }

  /* Caption text */
  .caption { padding: 5% 0%; width: 100%; text-align: center; color: white; }

  /* Fading animation */
  .fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.0s; animation-name: fade; animation-duration: 1.0s; }
  @-webkit-keyframes fade { from {opacity: .4} to {opacity: 1} }
  @keyframes fade { from {opacity: .4} to {opacity: 1} }
