/* ___ Main HTML and body styling ___ */

html { font-family: arial; color: white; font-size: 30px; }

body { margin: 0 }


/* ___ DIVs ___ */

/* Container size and style */
#container { width: 900px; height: 900px; margin: 0 auto; background-color: black; opacity: 0.9; border-radius: 15px; }

/* Header position and style */
#header { position: relative; height: 100px; width: 900px; background-color: black; }

/* Article size and position */
#article { width: 840px; margin: 30px; padding: 0px }

/* Form size and styles */
.form { width: 600px; margin: auto; border: 0; line-height: 380%; }

/* Logo size and position */
img.logo { width: 200px; float: left; margin-left: 30px; margin-top: 25px }

/* Form input element style */
input { margin: auto; height: 50px; font-size: 20px; padding: 5px; text-align: left; padding-left: 20px }

/* Form select element style */
select { margin-top: 10px; float: right; width: 700px; height: 60px; font-size: 20px; padding: 5px; width: 350px; color: black; text-align: left; padding-left: 20px }

/* Form textarea element style */
textarea { font-size: 20px; padding: 20px; height: 180px; width: 700px; color: black; font-family: arial; }

/* Form submit button style */
.submit { box-shadow: 0px 7px 40px black; color: black; background-color: #C8442A; border: 0; font-size: 15px;
padding: 30px; border-radius: 25px; font-weight: bold; display: block; margin: auto; width: 200px; margin-top: 10px; }

/* "Quote" button style on hover */
.submit:hover { background-color: #B53826; cursor: pointer; }

/* "Quote" button on click - disable default outline */
.submit:focus { outline: 0 }

/* Dropdown Button */
.dropbtn { background-color: black; color: #dddddd; padding: 6px; font-size: 26px; border: none; cursor: pointer; font-weight: bold; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus { background-color: black; color: #E5532C }
.dropbtn:focus { outline: 0; }

/* The container <div> - needed to position the dropdown content */
.dropdown { position: relative; display: inline-block; float: right; margin-right: 30px; margin-top: 30px; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content { display: none; position: absolute; right: 0px; background-color: black; min-width: 180px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a { text-align: right; color: white; padding: 22px 14px; text-decoration: none; display: block; font-size: 20px; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: black; color: #C8442A; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Logo hover style */
.logo:hover { opacity: 0.8 }
